@page "/RoundUpDown"
@using DTO.DTOs
@using Microsoft.AspNetCore.Components.Authorization
@inject NavigationManager NavManager

@rendermode InteractiveServer
@inherits RoundUpDownBase;

<PageTitle>Zaokrąglanie</PageTitle>


@if(ready==true)
{
    <h1 style="text-align:center">Podaj Poprawną Liczbę </h1>

    <h2><b> @excercise </b></h2>
    <p></p>
    <InputText @bind-Value="UserAnwser" @onkeydown="@Enter" />
    <p></p>
    <button class="confbtn" @onclick="Confirm">Potwierdź</button>
    <p>@message</p>
    <p></p>
    <p>Wynik: @good / @all </p>
}else
{
        <h2 style="text-align:center"><b>Koniec Gry!</b></h2>
        <p style="height:10px"></p>
        <h4>Twój wynik to: @good / @all </h4>

        <p style="height:20px"></p>
        <button class="backbtn" @onclick="GoBack">Cofnij</button>
}


@code {
    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }

    int good = 0;
    int all = 0;
    private string message = "";
    private string theEnd="";
    private string UserAnwser="";


    private async Task Confirm()
    {
        if(UserAnwser==correctNumber.ToString())
        {
            await GoodNumber();
        }
        else
        {
            await WrongNumber();
        }
    }

    private async Task GoodNumber()
    {
        good++;
        all++;
        message = "Dobrze!";
        this.StateHasChanged();
        if(all>=10)
        {
            theEnd = "Koniec gry!";
            ready = false;
            await Task.Delay(1500);
            await UpdateUserScore();
            message = "";
            this.StateHasChanged();
            return;
        }

        await Task.Delay(1500);
        PrepareNewGame();
        message = "";
        UserAnwser = "";
        this.StateHasChanged();

    }
    private async Task WrongNumber()
    {
        all++;
        message = "Zła Odpowiedź! Spróbuj ponownie";
        this.StateHasChanged();

        await Task.Delay(1500);
        //   PrepareNewGame();
        message = "";
        //  this.StateHasChanged();
    }

    public async Task Enter(KeyboardEventArgs e)
    {
        if (e.Code == "Enter" || e.Code == "NumpadEnter")
        {
            await Task.Delay(500);
            await Confirm();
        }
    }
    private async Task UpdateUserScore()
    {
        var g = good;
        var a = all;
        var authenticationState = await authenticationStateTask;
        string username = authenticationState.User.Identity.Name;
        if (username != null)
        {
            var progrss = await userProgressService.GetProgressByAll(username, "Liczby Naturalne", "Gry");
            if (progrss != null)
            {
                g += progrss.good;
                a += progrss.all;
                var updated = new UserProgressDTO() { Id = progrss.Id, AccountId = progrss.AccountId, type = "Gry", unitName = "Liczby Naturalne", all = a, good = g };
                await userProgressService.UpdateProgress(updated);

            }
            else
            {
                await userProgressService.AddProgressByName(username, "Liczby Naturalne", "Gry", good, all);
            }

        }
    }

    private void GoBack()
    {
        NavManager.NavigateTo("ChooseGame/uname/Liczby Naturalne");
    }
}
